@import "../../styles/index.scss";

//close button important styles
.initStyle {
   position: absolute !important;
   top: 16px !important;
   right: 12px !important;

   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
}

.roundedButton {
   width: 32px;
   height: 32px;
   border-radius: 6px;
   background: #2b2932;
   cursor: pointer;
   opacity: 0.9;

   &:hover {
      opacity: 1;
   }

   &::before,
   &::after {
      content: "";
      position: absolute !important;
      top: 15px !important;
      left: 8px !important;
      display: block !important;
      width: 16px;
      height: 2px;
      border-radius: 4px;
      background: #fff;
   }

   &::before {
      transform: rotate(45deg);
   }
   &::after {
      transform: rotate(-45deg);
   }
}

.defaultButton {
   width: 32px;
   height: 32px;
   cursor: pointer;
   opacity: 0.9;

   &:hover {
      opacity: 1;
   }

   &::before,
   &::after {
      content: "";
      position: absolute !important;
      top: 15px !important;
      left: 0px !important;
      display: block !important;
      width: 32px;
      height: 2px;
      border-radius: 4px;
      background: #2b2932;
   }

   &::before {
      transform: rotate(45deg);
   }
   &::after {
      transform: rotate(-45deg);
   }
}

.textButton {
   color: #2b2932;
   cursor: pointer;

   &:hover {
      text-decoration: underline;
   }
}

@media screen and (max-width: $bp-mobileL) {
   .initStyle {
      top: 8px !important;
      right: 8px !important;

      &.fullScreen {
         top: 16px !important;
         right: 16px !important;
      }
   }
}
