.modal-close-btn {
   position: absolute !important;
   top: 5px !important;
   right: 5px !important;
   cursor: pointer;
}
.modal-close-btn::before,
.modal-close-btn::after {
   content: "";
   display: block;
   width: 15px;
   height: 2px;
   background: #000;
}
.modal-close-btn::before {
   transform: rotate(45rad);
}
.modal-close-btn::after {
   transform: rotate(135rad);
}