.overflow-hidden {
   overflow: hidden;
}

//background important styles
.backgroundInit {
   /* position */
   position: fixed !important;
   z-index: 99999 !important;
   top: 0 !important;
   left: 0 !important;

   /* display */
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;

   /* size */
   width: 100vw !important;
   min-height: 100% !important;

   /* style */
   overflow: hidden;
}

//background default styles
.backgroundInit {
   padding: 16px;
}

.backgroundInit.withBackground {
   background: rgba(0, 0, 0, 0.8);
}

//wrapper default styles
.wrapper {
   position: relative;
   width: 470px;
   height: max-content;
   padding: 40px 32px;
   border-radius: 6px;
   background: #fff;
}

//title default styles
.title {
   margin: 0 0 8px 0;
   font-style: normal;
   font-weight: 500;
   font-size: 28px;
   line-height: 34px;
   color: #2b2932;
}

//subtitle default styles
.subtitle {
   margin: 8px 0 32px 0;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #2b2932;
}

.content {
   height: 300px;
}
