.backgroundInit {
  /* position */
  position: fixed !important;
  z-index: 99999 !important;
  top: 0 !important;
  left: 0 !important;
  /* display */
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  /* size */
  width: 100vw !important;
  min-height: 100% !important;
  /* style */
  overflow: hidden;
}

.backgroundInit {
  padding: 16px;
}

.backgroundInit.withBackground {
  background: rgba(0, 0, 0, 0.8);
}

.wrapper {
  position: relative;
  width: 470px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 40px 32px;
  border-radius: 6px;
  background: #fff;
}

.title {
  margin: 0 0 8px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #2b2932;
}

.subtitle {
  margin: 8px 0 32px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2b2932;
}

.content {
  height: 300px;
}
